<div>
    <p class="title1"><i class="fas fa-cat" style="text-align: center; width:100px; height:100px;color:lightcoral"></i> Chào mừng đến với Cute Cat</p>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.petcity.vn/media/news/868_70cd69a7da3dbf66bc079169872eb14b.jpg" alt="..." class="img-responsive" style="width: 400px;height:400px">
            <div class="caption">
                <h3 class="h" id="h31">Thảm cào móng cho mèo</h3>
                <a class="collapsed1" data-toggle="collapse" href="#h31" aria-expanded="false" aria-controls="h31"></a>
                <p class="description" id="description1">Tác dụng của thảm cào móng mèo y như cái tên của nó vậy. Chắc chắn việc cắt móng cho mèo là việc không hề đơn giản chút nào. Bàn chân chính là một trong những bộ phận nhạy cảm nhất của loài mèo. Chính vì vậy, việc động chạm vào còn rất khó huống chi là cắt móng. Có một món đồ chơi cho mèo có thể giúp bạn thực hiện được việc này cực kì đơn giản.
                Với thảm cào móng mèo bạn sẽ không cần phải lo lắng về điều này nữa. Những chú mèo rất thích cào vào mặt phẳng. Thảm được thiết kế bởi những sợi dây thừng vững chãi, không gây tổn thương cho móng mèo. Mỗi lần cào lên thảm móng mèo coi như được mài dũa, đồ đạc trong nhà cũng sẽ không bị chúng phá phách thêm nữa. Thảm cho mèo thiết kế với kích thước nhỏ gọn, rất thuận tiện cho việc di chuyển.</p>
                 <a class="collapsed" data-toggle="collapse" href="#description1" aria-expanded="false" aria-controls="description1"></a>
                <div class="clearfix">
                    <div class="price pull-left">420,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.petcity.vn/media/news/0204_ee5b7a3a09df11dc2d35d919b4605588.jpg" alt="..." class="img-responsive" style="width: 400px;height:400px">
            <div class="caption">
                <h3 class="h" id="#h32">Trụ cào móng cho mèo</h3>
                <a class="collapsed1" data-toggle="collapse" href="#h32" aria-expanded="false" aria-controls="h32"></a>
                <p class="description" id="description2">Không chỉ thích mặt phẳng, những chú mèo còn thích cào vào những đồ vật theo hình thẳng. Chắc hẳn không ít lần bạn bắp gặp hình ảnh chú mèo đang đứng cào vào kệ sách, rèm cửa… Thậm chí, chúng còn cào vào chính chiếc quần bạn đang mặc trên người. Động tác đứng cào giống như là mèo cưng đang vươn vai, chúng sẽ cảm thấy thật thư giãn sau mỗi lần như vậy.
                Tuy nhiên, nếu hành động đó lặp đi lặp lại hàng ngày thì đồ đạc trong nhà sẽ bị chúng cào xước hết lượt. Nhưng bạn biết đấy, càng mắng chúng càng tỏ vẻ ngây ngô như chưa có chuyện gì xảy ra. Cách giải quyết cực kì đơn giản, bạn có thể mua tặng mèo cưng một chiếc trụ mèo cào. Với các cột thẳng được cuốn dây thừng bao quanh và xoay tròn, mèo cưng chắc chắn sẽ không còn hứng thú với nội thất trong ngôi nhà bạn nữa.</p>
                <a class="collapsed" data-toggle="collapse" href="#description2" aria-expanded="false" aria-controls="description2"></a>
                <div class="clearfix">
                    <div class="price pull-left">385,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://pettysoc.com/wp-content/uploads/2016/06/OIaM0j1m.jpg" alt="..." class="img-responsive" style="width: 400px;height:400px">
            <div class="caption">
                <h3 class="h" id="h33">Đồ Chơi Cần Câu Lông Gà Cho Mèo</h3>
                <a class="collapsed1" data-toggle="collapse" href="#h33" aria-expanded="false" aria-controls="h33"></a>
                <p class="description" id="description3">Cần câu là loại đồ chơi cho mèo ngộ nghĩnh, dễ thương, với chú cá giả, chuột giả hoặc lông vũ buộc vào cần câu, bạn sẽ tha hồ đùa giỡn với chú mèo của mình
                                        + Dùng để chơi đùa cùng thú cưng của bạn.
                                        + Đủ màu sắc ngộ nghĩnh đáng yêu, thu hút thú cưng nhà bạn chơi đùa cùng Cần câu mèo, tăng cương khả năng vận động hoạt bát của thú cưng.
                                        + Chi tiết: 1 cần + 1 hình thú, kích thích thú cưng vờn bắt.
                                        + Mầu sắc : như hình
                                        + Cần câu mèo đồ chơi cho thú cưng, kiểu dáng và màu sắc đẹp, hấp dẫn thú cưng nhà bạn, chất liệu bền, chắc chắn</p>
                <a class="collapsed" data-toggle="collapse" href="#description3" aria-expanded="false" aria-controls="description3"></a>
                <div class="clearfix">
                    <div class="price pull-left">45,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.petcity.vn/media/product/1638_0_binh_uong_co_dong_2_trong_1_300x300.jpg" alt="..." class="img-responsive" style="width: 400px ;height:400px">
            <div class="caption">
                <h3 class="h" id="h34">Bộ ăn uống tự động cho chó mèo</h3>
                <a class="collapsed1" data-toggle="collapse" href="#h34" aria-expanded="false" aria-controls="h34"></a>
                <p class="description" id="description4">Bộ dụng cụ ăn uống bao gồm máng ăn + thanh dịch chuyển bình nước lên xuống + bình đựng thức ăn 1.25kg + bình nước 500ml. Sản phẩm được làm từ nhựa tổng hợp, riêng máng ăn làm từ vật liệu ABS có độ bền cao. Bình đựng thức ăn được làm từ nhựa PP, nắp bình là PVC. Vòi bình nước có gắn viên bi mạ đồng nhằm tránh nước nhiễu xuống. Phía sau bình đựng thức ăn có nút điều chỉnh lượng thức ăn rơi xuống. Máng đựng chia ra 2 bên để hứng nước và thức ăn. Sản phẩm thích hợp cho chó cỡ trung & nhỏ & các loại mèo sử dụng.</p>
                <a class="collapsed" data-toggle="collapse" href="#description4" aria-expanded="false" aria-controls="description4"></a>
                <div class="clearfix">
                    <div class="price pull-left">360,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://vn-live-03.slatic.net/original/7befae99abebdc5439fded7ad5f78527.jpg" alt="..." class="img-responsive" style="width: 400px;height:400px">
            <div class="caption">
                <h3 class="h" id="h35">Bóng đồ chơi cho mèo, bóng chuột cho mèo</h3>
                <a class="collapsed1" data-toggle="collapse" href="#h35" aria-expanded="false" aria-controls="h35"></a>
                <p class="description" id="description5">Dễ dàng thu hút sự chú ý của mèo với chuột giả. Chuột giả trong đồ chơi bóng lồng đủ bền trong thời gian dài sử dụng. Đồ chơi bóng này sẽ giúp khuyến khích con mèo của bạn luyện tập móng vuốt và giữ cho chúng khỏe mạnh.</p>
                <a class="collapsed" data-toggle="collapse" href="#description5" aria-expanded="false" aria-controls="description5 "></a>
                <div class="clearfix">
                    <div class="price pull-left">50,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://ohmypet.vn/upload/images/M%C3%A8o%20-%20v%E1%BA%ADt%20d%E1%BB%A5ng%2C%20%C4%91%E1%BB%93%20%C4%83n/kichthuoc%20chuan%20hinh(9).jpg" alt="..." class="img-responsive" style="width: 400px;height:400px">
            <div class="caption">
                <h3 class="h" id="h36">Cát mèo hữu cơ vón cục khử mùi & vi trùng Cat's Best Original 5L </h3>
                <a class="collapsed1" data-toggle="collapse" href="#h36" aria-expanded="false" aria-controls="h36"></a>
                <p class="description" id="description6">Được làm bằng nguyên liệu tự nhiên, không gây hại cho môi trường, có độ thấm hút rất cao và hiệu quả</p>
                <a class="collapsed" data-toggle="collapse" href="#description6" aria-expanded="false" aria-controls="description6"></a>
                <div class="clearfix">
                    <div class="price pull-left">120,000 đ</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Chọn</a>
                </div>
            </div>
        </div>
    </div>
</div>